//font import
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
//font variables
$block-text-font: "Roboto", sans-serif;
$heading-font: "Yeseva One", cursive;
//color variables
$intro-text: #ffffff;
$heading-text: #48588d;
$block-text: #4d4d4d;
$main-bg: #ffffff;
$beliefs-section-bg: #eff1f9;
